Source: capi-telephony-network-info
Section: libs
Priority: extra
Maintainer: Kangho Hur <kangho.hur@samsung.com>, ByungWoo Lee <bw1212.lee@samsung.com>
Build-Depends: debhelper (>= 5), dlog-dev, libvconf-dev, libglib2.0-dev, capi-base-common-dev

Package: capi-telephony-network-info
Architecture: any
Depends: ${shilbs:Depends}, ${misc:Depends}
Description: A Telephony Network Information library in Tizen Native API

Package: capi-telephony-network-info-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-telephony-network-info (= ${Source-Version}), dlog-dev, libvconf-dev, libglib2.0-dev, capi-base-common-dev
Description: A Telephony Network Information library in Tizen Native API (DEV)

Package: capi-telephony-network-info-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, capi-telephony-network-info (= ${Source-Version})
Description: A Telephony Network Information library in Tizen Native API (DBG)

